/config
/src/ProjectUploader.API/obj
/src/ProjectUploader.Aplicacao/obj
/src/ProjectUploader.Dominio/obj
/src/ProjectUploader.DownloadApp/obj
/src/ProjectUploader.Infraestrutura/obj
/src/ProjectUploader.UploadApp/obj
/src/ProjectUploader.API/bin
/src/ProjectUploader.Aplicacao/bin
/src/ProjectUploader.Dominio/bin
/src/ProjectUploader.DownloadApp/bin
/src/ProjectUploader.Infraestrutura/bin
/src/ProjectUploader.Testes/bin
/src/ProjectUploader.UploadApp/bin
/src/ProjectUploader.Testes/obj
/src/ProjectUploader.API/Uploads
/src/ProjectUploader.API/Logs
/src/ProjectUploader.DownloadApp/Logs
/src/ProjectUploader.UploadApp/Logs
